* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgba(10, 10, 10, 0.616);
  color: #fff;
}
#header {
  width: 100%;
  height: 100lvh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  width: 200px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #8c52ffe5;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
}

.header-text h1 {
  font-size: 54px;
  margin-top: 20px;
}

.header-text h3 {
  margin-top: 20px;
  font-size: 24px;
  font-style: italic;
  font-family: monospace;
  text-decoration: underline solid #8c52ffe5 5px;
}

.header-text p {
  font-size: 28px;
  text-decoration: overline solid #8c52ffe5 5px;
}

.header-text span {
  color: #8c52ffe5;
}

/* About Style */
#about {
  padding: 80px 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: 35%;
}

.col-1 img {
  width: 100%;
  border-radius: 45%;
}

.col-2 {
  flex-basis: 60%;
  text-align: justify;
}

.col-2 h1 {
  color: #fff;
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-title {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-title::after {
  content: "";
  width: 0;
  height: 3px;
  background: #611b84;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.tab-title.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
}

.tab-contents ul li span {
  color: #611b84;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Portfolio Styles */
.sub-heading {
  color: #fff;
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#project {
  padding: 30px 0;
}
.project-titles {
  display: flex;
  margin: 30px 0 40px;
}

.project-title {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.project-title::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgba(103, 33, 96, 0.8);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.project-title.active-link::after {
  width: 100%;
}

.project-lists {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}
.project-lists.active-list {
  display: grid;
}
.project-list {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.project-list img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  display: block;
}

.project-list .action {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(103, 33, 96, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s;
}

.project-lists .project-list:hover .action {
  opacity: 1;
  border-radius: 10px;
}

.project-list .action h3 {
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
}

.project-list .action p {
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 14px;
  line-height: 25px;
}

.project-list .action a {
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
  text-align: center;
}
